body {
    background-image: url("./login.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }
  form{
      width: 50%;
      background-color: white;
      text-align: center;
      padding: 5px;
      height: 100vh;
      margin: 0 auto 0 auto;
      background-color: black;
      color: white;
  }
  input{
      width: 60%;
      height: 50px;
      margin: 5px;
      border-radius: 40px;
      padding: 5%;
      margin-top: 5%;
      border: 3px skyblue solid;
  }
  h1{
    
      padding-top: 30px;
      font-size: 250%;
  }
button{
    height: 10%;
    width: 25%;
    border-radius: 50%;
    border: 3px solid green;
}
  p{
      color: white;
  }